<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="REMOTE_ADDR" value="127.0.0.1"/>
        <server name="HTTP_USER_AGENT" value="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.86 Safari/537.36"/>
        <server name="HTTP_REFERER" value="http://laravel-akismet.dev"/>
        <server name="REQUEST_URI" value="http://laravel-akismet.dev"/>
    </php>
</phpunit>